<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lawu.chick.repository.mapper.extend.GiftDOExtendMapper">

    <update id="updateGiftInventory" parameterType="java.lang.Long">
        UPDATE gift SET inventory = inventory - 1,gmt_modified = NOW() where id = #{id,jdbcType=BIGINT}
   </update>

</mapper>