<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lawu.chick.repository.mapper.extend.RangelandDOExtendMapper">

    <update id="reduceCleanness" parameterType="com.lawu.chick.repository.param.CleannessParam">
        UPDATE rangeland
            set external_cleanness = external_cleanness - #{cleanness,jdbcType=INTEGER},gmt_modified = sysdate(),external_clean_time = sysdate()
        where id =#{id}
    </update>
    
    <update id="addCleanness" parameterType="com.lawu.chick.repository.param.CleannessParam">
        UPDATE rangeland
            set external_cleanness = external_cleanness+#{cleanness,jdbcType=INTEGER},gmt_modified = sysdate()
        where id =#{id}
    </update>
    
     <update id="chickInRangelandTime" parameterType="java.lang.String">
        UPDATE rangeland
            set outside_duration =outside_duration + round((UNIX_TIMESTAMP(sysdate())-UNIX_TIMESTAMP(IFNULL(outside_time,sysdate())))/60) ,gmt_modified = sysdate(),outside_time= sysdate()
        where member_num =#{memberNum}
    </update>
</mapper>